/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bg-dark-black {
        background-color: #9ca3af0d;
    }
    .bg-dark {
        background-color: #252529;
        @apply border-dark;
    }
    .bg-light {
        background-color: #ffffff;
        @apply border-light;
    }
    .bg-light-white {
        background-color: #ffffff;
    }
    .text-light {
        color: #21262d;
    }
    .text-dark {
        color: #c9d1d9;
    }
    .border-dark {
        border: 1px solid #323232;
    }
    .border-light {
        border: 1px solid #e6e6e6;
    }
    .bg-dark-hover {
        background-color: #323232;
    }
    .bg-light-hover {
        background-color: #e6e6e6;
    }
    .title {
        @apply cursor-pointer transition-all text-left text-neutral-900 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-500 font-semibold;
    }
    .img {
        @apply shadow-sm hover:shadow-md rounded-md transition-all;
    }
    .no-select-bg {
        @apply select-none bg-transparent;
    }
}

.md-editor-dark {
    --md-bk-color: #252529 !important;
}
