@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bg-dark-black {
        background-color: #9ca3af0d;
    }
    .bg-dark {
        background-color: #252529;
    }
    .bg-light {
        background-color: #f6f6f7;
    }
    .bg-light-white {
        background-color: #ffffff;
    }
    .text-light {
        color: #21262d;
    }
    .text-dark {
        color: #c9d1d9;
    }
}

@layer base {
    ol {
        list-style-type: unset;
    }
}
